@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

footer {
    border-top: 2px black solid;
    width: 100%;
    height: 70px;
    font-size: 17px;
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.footer-cont {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-menu a{
    color: black;
    margin: 0 15px;
    text-decoration: none;
}

.social-network img {
    margin: 0 7px;
}
